body{
    background-color:  #f8f8f8
}
.menu li {
    font-size: 30px;
    list-style-type: none;
}
.menu li a {
    color: #303030;
}
.heading {
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea; 
}
.about {
    color:  #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.descryption {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.char li {
    font-style: italic;
    font-size: 16px;
    list-style-type:circle;
    color:darkslategrey;
}
p input {
    font-size: 25px;
    text-align: center;
    font-style:oblique;
    color:#C7BDBD;
    height: 50px;
    width: 350px;
}
textarea{
    height: 200px;
    width: 450px;
}
.img {
    border-color:yellow;
    border-style:solid;
}